@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "游ゴシック体",YuGothic,"游ゴシック","Yu Gothic",sans-serif;
    background-image: url(../images/bg.jpg);
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(253, 243, 235);
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #ff73ab;
}

.contents {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 60px;
}

main article{
    margin-bottom: 40px;
}

main {
    width: 600px;
}
.contents h2 {
    padding: 10px;
    border-left: 8px solid #ff73ab;
    border-bottom: 1px dashed #000;
}

aside {
    width: 300px;
    margin-top: 30px;
}
.contents h3 {
    padding: 0 16px;
    border-bottom: 1px solid #aaa;
    color: #ff73ab;
}
aside.section{
    margin-bottom: 28px;

}
h3{
    border-bottom: #ff73ab 1px dotted;
    color: #ff73ab;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #ff73ab;
    text-align: center;
    color: aliceblue;
}


