body {
    background-color: #111;
    /* 黑色背景 */
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
    margin: 50px;
    gap: 20px;
}

.music-text {
    /* 2. 应用字体 */
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    /* 700 就是 bold，让字变粗 */
    color: #fff;
    /* 白色文字 */
    font-size: 24px;
    /* 调整字号 */
    line-height: 1.5;
    /* 稍微拉开一点行高 */
    text-align: center;
    max-width: 800px;
}

.section {
    margin: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 120px;
}

.card-1,
.card-2,
.card-3 {
    position: relative;
    width: 220px;
    height: 220px;

}

.card-1 img,
.card-2 img,
.card-3 img {
    border-radius: 5px;
    position:absolute;
    width: 100%;
    height: 100%;
}

.card-1 .cd,
.card-2 .cd,
.card-3 .cd {
    width: 90%;
    height: 90%;
    left: 5%;
    transition: 0.3s;
}

.bg{
    z-index: 2;
    transition: 0.3s;
}
.cd{
    z-index: 1;
    /* 鼠标移开时：0.4秒内回到原位(top)，同时0.4秒内变透明(opacity) */
    transition: top 0.4s, opacity 0.4s;
    top: 0;
    opacity: 0;
    animation: play 3s linear infinite;
    animation-play-state: running;
    border-radius: 50%;


}
.bg:hover + .cd{
    top: -120px;
    opacity: 1;
    animation-play-state: running;
}
.card-1:hover .bg,
.card-2:hover .bg,
.card-3:hover .bg {
    /* 正数是向后仰，负数是向前倾。建议试试 25deg */
    transform: perspective(500px) rotateX(-10deg) scale(1.05) translateY(-10px);
    box-shadow: 0px 5px 20px 0px rgba(255, 224, 224, 0.8);

}
.card-2:hover .bg{
    box-shadow: 0px 5px 20px 0px rgba(45, 98, 69, 0.8);
}
.card-3:hover .bg{
    box-shadow: 0px 5px 20px 0px rgba(102, 62, 39, 0.8);
}

@keyframes play {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

}
